body
{
  font-family: sans-serif;
  background-color: #34495e;
  color: #191919;
}

p{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

h1
{
  text-align: center;
  text-transform: uppercase;
}

#but{
  text-decoration: underline;
}

footer{
  text-align: center;
}
